.item-message {
  padding: 5px 10px;
  background-color: var(--primary);
  color: var(--while);
  font-size: 15px;
  font-weight: 400;
  border-radius: 20px;
  margin-bottom: 30px;
}

.is-you {
  background-color: var(--primary-chat);
}
