
.line {
    margin: 0;
    color: var(--grey);
    margin: 10px 0;
}

.profile_btn {
    display: flex;
    align-items: center;
}

.chat-list-input {
    width: 205px;
}

.chat-list-form {
    width: 205px;
}

.create_chat_btn {
    width: 200px;
    padding: 10px 45px;
}

.user_id_add {
    width: 45px;
    height: 7px;
    font-size: 12px;
    border: 1px solid var(--primary);
}

.add_user_for_chat {
    font-size: 20px;
    padding: 5px 0;

}

.chat-container {
    display: flex;
    height: 100vh;
    width: 100vh;
}

.chat-list {
    background-color: #fff;
    border-right: 1px solid #ccc;
    padding: 10px;
    &__item {
        padding: 8px;
        cursor: pointer;
    }
    &__items {
        list-style-type: none;
    }
}
