.block-input {
    display: flex;
    flex-direction: column;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    &__label {
        font-size: 13px;
        font-weight: 400;
    }
    &__field {
        font-size: 13px;
        font-weight: 400;
        color: var(--grey);
        border: none;
        height: 20px;
        text-align: right;
        &:focus {
            outline: none;
        }
    }
}
