.nav-button {
  display: inline-block;
  font-size: 13px;
  font-family: 500;
  color: #367EDB;
  text-decoration: none;
  text-align: center;
  &:hover {
    color: var(#3369F3);
    text-decoration: underline;
  }
}
